@charset "utf-8";

body {
  font-family: Garamond;
  color:#ECEFEF;
  background-image: url(../img/Space.jpg);
  background-position:center center;	
  
}

/* Style the header */
header {
  background-image: url(../img/bckblue1.png);
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
div#col1{

  background-image: url(../test1.png);
  float: left;
  padding: 10px;
  height: 100%;
  width: 13%;
  position: relative;
}


div#col2,#col3{
 /* background-image: url(../img/test2.png);*/
  padding-left: 20%;
 
}

footer {
  background-image: url(../img/bckblue1.png);
  padding: 5px;
  text-align: center;
}


/* TABLEAU DE MESURE */
div#TabMesure{
text-align: center;

}

table
{
    background-color: #071416;
    margin: auto;
    border-collapse: collapse;  Les bordures du tableau seront collées (plus joli)
    border: 1px solid white;
}
td
{
    border: 1px solid white;
}

