:root{
    font-size: 16px;
    font-family: 'Titillium Web';
    --text-primary: #FFFFFF;

    --bg-primary: #252525;
    --bg-secondary: #2a2a2a;
    --bg-nav:#333333;
}

/* ----------------------- Zone HTML ----------------------- */
.general{
    background-color: #252525;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

#imgCnes{
    top: 6px;
    left: 20px;
    width: 240px;
    height: 60px;
}

#header{
    position: relative;
    background-color: #1D1D1D;
}

.body{
    position: relative;
    height: 100%;
    background-color: #252525;

}
.sub {
    display: none;
  }


/* ----------------------- Zone Etat ----------------------- */

h2{
    border: 0px;
    display: block;
    color: #555;
    font-weight: normal;
    font-size: 28px;
    margin: 10px;
    padding: 0px;
    text-shadow: 0;
    text-align: center;
}

#bandeauInfoUtile{
    box-sizing: border-box;
}

#tableEtat{
    background-color:#2a2a2a; 
    display: table;
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#graphique{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.graphe{
    width: 450px;
    margin: 10px;
    /*margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;*/
}



/* ----------------------- Zone Instruments ----------------------- */

#Instrument_1{
    font-size: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Instrument_1{
    width: 450px;
    margin: 10px;

}
#Magnétomètre{
    position:relative;
    top:200px; right: 10%;
    width:200px;
    height:400px;
    z-index:2;
}
#Matrice{   
    position:relative;
    top:200px; left: 10%;
    width:400px;
    height:400px;
    z-index:2;
}
#Caméra {
    position:relative;
    top:200px; left: 10%;
    width:600px;
    height:400px;
    z-index:2;
}
img {
    width: 300px;
    height: 250px;
    max-width: 100%;        
}
span {
    color: #fff;
}
/* ----------------------- Zone Camera ----------------------- */

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 260px;
    height: 195px;
    padding: 20px;

}

#slideshow>div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

/* ----------------------- Zone Magnetometre | Matrice | Caméra ----------------------- */
#menu, #menu ul {
    list-style: none;
    text-align: center;
}
#menu li {
    display:inline-block;
    position: relative;
}
#menu ul li {
    display:block;
}
#menu ul {
    position:absolute;
    width:100%;
    overflow:hidden;
    -moz-transition: all 1s;

}
#menu li:hover ul {
    top:-35px;
    height: 110px;
}
#menu a {
    display:block;
    height:30px;
}
/* ----------------------- Zone Magnetometre ----------------------- */

#graphMagneto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#imgMagneto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#donnesMagneto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-count:2;
    moz-column-count:2;
    webkit-column-count:2;
}

#tableMagneto{
    background-color:#2a2a2a; 
    display: table;
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    padding: 0px;
}

/* ----------------------- Zone Matrice ----------------------- */

#matrice {
    margin: auto;
}

#matrice > tbody > tr > td {
    width: 60px;
    height: 60px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
}

/* ----------------------- Zone Commande ----------------------- */

.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 13px 0;
    width: 100%;
}
